/Negocios/objetos_negocio/target/
/Negocios/dto_negocios/target/
/Negocios/negocios_AdministradorHabitaciones/target/
/Negocios/negocios_AdministradorResidentes/target/
/Presentación/presentacion_residencias/target/
/Datos/AccesoDatos/target/
/Infrastructura/ComunicacionCIA/target/
/Infrastructura/Infraestructura/target/
